<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>input</title>
    <style>
        .le-input-ui{
            width: 100%;
            height: 100px;
            border: 1px solid #333;
        }
        .le-input-ui .le-input{
            width: 100%;
        }
        .le-input-ui .le-input label{
            width: 100%;
        }
        .le-input-ui .le-input input{
            width: 100%;
            border: none;
            border-bottom: 1px solid #f00;
        }
    </style>
</head>
<body>
    <div class="le-input-ui">
        <div class="le-input">
            <label for="">main_input</label>
            <input type="text">
        </div>
        <div class="tips"></div>
    </div>
</body>
</html>